
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color:rgb(71, 68, 68);

}
.nav ul
{
    margin:0;
}
.nav li
{
   display:inline;
   
   
}
.nav a
{   
    display:inline-block;
    padding:15px;
    text-decoration: none;
    font-size: 25px;
    margin:25px;
    font-weight: 500;
       
}
.nav-main 
{
 border-bottom: 1px solid black;
}
.nav-main li
{
    padding:0 3%;
}
.nav a:hover
{
    color:rgb(242,234,29);
    background-color: black;
    border-radius: 5px;
    
    
}
html,body{
    margin: 0px;
    padding: 0px;
}

.header-main
{
    background-color:rgb(242,234,29);
    padding-bottom :20px;
    text-align: center;
    font-weight: 500;
    
}
.title
{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color:rgb(242,234,29);
    font-weight: normal;
    
   
    
}
.title-large
{
    font-size: 45px;
    color:rgb(71, 68, 68);
    font-weight:500;
    
}
.subtitle
{
    margin-bottom: 30px;
    font-weight: 600;
}
.content-section
{
    margin:10px;
}

.container
{
    margin:0 auto;
    max-width: 1000px;
    padding:0 10px;
    margin-top:80px;

}
.about-sec
{

    margin:0 auto;
    max-width: 50vw;
    padding:0 25px;
    margin-top:80px;

}
.img-cir
{
    float:left;
    border-radius: 50%;
    margin:25px;
    width:300px;
    border:2px solid black;
}
.img-cir2
{
  float: right;
  width: 300px;
  border-radius: 50%;
  
  margin:15px;
  border:2px solid black;
}
.about-sec>p
{
    line-height: 240%;
    font-size:18px;
}
.main-footer
{
    background-color: black;
}
.main-footer-container
{
    display:flex;
    align-items: center;
    
}
.main-footer-container ul
{
    flex-grow :1;
    text-align: end;
}
.main-footer i
{
color:rgb(189, 182, 182);
}
.btn
{
    text-align: center;
    width: 250px;
    height: 40px;
    font-weight: 600;
    font-size: 15px;
    background-color:rgba(255,255,255,.3);
    border:1px solid black;
}
.play
{
    height:40px;
    width: 40px;
    border-radius: 50%;
    background-color:rgba(255,255,255,.3); 
    border:2px solid black;
}
.row
{
    padding:20px;
    border-bottom: 1px solid black;
}
.date
{   
    display: inline-block;
    font-weight: 900;
    font-size:20px;
    padding: 20px;
    margin-right:20px;

}
.city
{
    display: inline-block;
    font-weight: 900;
    font-size:20px;
    padding: 20px;
    color:rgb(177, 174, 174);
    width:200px;
    margin-right: 20px;
}
.venue
{
    display:inline-block;
    font-weight: 900;
    font-size:20px;
    padding: 40px;
    margin-right: 15px ;
    width:400px;
}
.book
{
    margin-left: 5px;
    padding: 10px;
    background-color:rgba(242,234,29,1);
    border-radius: 5px;
}
.row:last-child
{
border: none;
}
.btn:hover,.play:hover,.book:hover{
background-color:rgba(0, 0, 0,0.8);
color:white;
}
.shop-item
{
    margin:20px;
    
}
.shop-item-tit
{
    display:block;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    
    max-width:400px;
    text-align: center;
    
}
.shop-item-img
{
    
    width : 400px;
    border:2px solid rgb(0, 0, 0);
    margin:0 auto;
    border-radius: 4px;;
}
.shop-item-det
{
    margin-top: 20px;
    font-size: 20px;
    max-width: 400px;
    padding: 10px;
    
}
.shop-item-price
{
   margin-left: 25px;
   font-weight: 400;

}
.shop-btn
{
    margin-left:25px;
    padding:10px;
}
.shop-btn:hover{
    background-color:rgba(242,234,29,0.7);
    color:black;
    font-weight: 500;
}
.music-div
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cloth-img
{
    width:300px;
    border-radius: 5px;
    border:1px solid black
}
.merc-div
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cart-head
{
    font-size:20px;
    font-weight: bold;
}
.cart-row
{
  display: flex;  
  padding: 10px;
  justify-content: space-evenly;
  
}
.cart-item-col
{
    width:100px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    text-align: center;
    
    
}
.cart-price-col
{
    width:100px;
    border-bottom: 1px solid black;
    text-align: center;
    padding-bottom: 10px;
    
}
.cart-qty-col
{
    width:120px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    text-align: center;
}
.cart-qnty
{
    width: 50px;
    padding: 5px;
}
.cart-qnty:focus
{
    width: 50px;
    padding: 5px;
    background-color: rgb(112, 110, 110);
    color:white;
}
.cart-btn
{
    padding: 5px;
    background-color: rgb(221, 69, 69);
    color:white;
    border-radius: 3px;

}
.total-div
{
    text-align: end;
    max-width:800px ;
    padding: 10px;
    font-size: 18px;
    font-weight: bolder;

}
.pur-btn
{
    display: inline-block;
    padding: 10px;
    margin-left:45%;
    background-color: aqua;
    border-radius: 6px;
    color:black;
    
}
.pur-btn:hover
{
    display: inline-block;
    padding: 10px;
    margin-left:45%;
    background-color:rgb(78, 76, 76);
    border-radius: 3px;
    color:white;
}
.total-txt
{
    display: inline-block;
    margin-right: 5px;
    font-weight:bold;
}



